.LadderGame-Main {
  width: 100%;
  height: 100vh;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  position: relative;
  background: rgb(85, 85, 227);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(138, 176, 179, 0.5523459383753502) 50%,
    rgba(117, 141, 107, 0.583158263305322) 73%,
    rgba(255, 165, 0, 1) 100%
  );
  animation: bcm 20s ease-in-out infinite;
}

.Ambient-Background {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background: rgb(255, 106, 0);
  background: linear-gradient(
    149deg,
    rgba(234, 80, 14, 0.8) 0%,
    rgba(40, 36, 255, 0.1) 100%
  );
  background-size: 300% 300%;
  animation: bcm 20s ease-in-out infinite;
}
@keyframes bcm {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

/*
.Fixed-Count {
  position: fixed;
  top: 4.55vh;
  left: 41.5%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0);
  color: black;
  z-index: 1;
}

.Fixed-Name {
  position: fixed;
  top: 20vh;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
}
*/
.Fixed-Result {
  position: fixed;
  top: 68%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
}

.Fixed-GoBack {
  position: fixed;
  top: 10px;
  left: 10px;
  height: 30px;
  width: 150px;
  z-index: 2;
  border: none;
  border-radius: 20%;
  background: rgb(148, 187, 233);
  background: radial-gradient(
    circle,
    rgba(148, 187, 233, 0.7176120448179272) 56%,
    rgba(255, 255, 255, 0.050945378151260545) 100%
  );
}

.Fixed-Look {
  position: fixed;
  right: 10vw;
  top: 23vh;
  height: 15vh;
  width: 15vh;
  z-index: 1;
  border: none;
  border-radius: 30%;
  background: rgb(148, 187, 233);
  background: radial-gradient(
    circle,
    rgba(148, 187, 233, 0.7176120448179272) 56%,
    rgba(255, 255, 255, 0.050945378151260545) 100%
  );
}

.LadderGameSelect-Main {
  margin-top: 17%;
}
