.LadderGameLadder-Main-Vertical {
  display: flex;
  padding: 0;
  margin-left: 5vw;
  text-align: center;
}

.LadderGameLadder-Main-Horizontal {
  display: flex;
  padding: 0;
  margin-left: 5vw;
}

@mixin ladderVertical($margin-right) {
  width: 0.3vw;
  height: 3vh;
  margin-right: $margin-right;
  margin-top: -0.3vw;
  padding: 0;

  background-color: black;
  color: white;
}
.Ladder-Vertical {
  @include ladderVertical(0);
}
.Ladder-Vertical.selected {
  background-color: red;
}
.Ladder-Vertical-last {
  @include ladderVertical(5vw);
}
.Ladder-Vertical-last.selected {
  background-color: rgb(0, 161, 164);
}

@mixin ladderHorizontal($background-color) {
  width: 5vw;
  height: 0.3vw;
  margin-left: 0.3vw;
  padding: 0;
  background-color: $background-color;
  color: white;
}
.Ladder-Horizontal {
  @include ladderHorizontal(black);
}

.Ladder-Horizontal.deleted {
  background-color: transparent;
}

.Ladder-Horizontal.selected {
  background-color: red;
}
