.LadderGameLadder-Main-Vertical {
  display: flex;
  margin-left: 20vw;
  padding: 0;
}

.LadderGameLadder-Main-Horizontal {
  display: flex;
  margin-left: 20vw;
  padding: 0;
}

@mixin ladderVertical($margin-right) {
  width: 0.5vw;
  height: 8vh;
  margin-right: $margin-right;
  padding: 0;

  background-color: black;
  color: white;
}
.Ladder-Vertical {
  //border-left: thick solid #32a1ce;
  @include ladderVertical(0);
}
.Ladder-Vertical-last {
  //border-left: thick solid #32a1ce;
  @include ladderVertical(5vw);
}

@mixin ladderHorizontal($background-color) {
  width: 5vw;
  height: 0.5vw;
  margin-left: 0.5vw;
  padding: 0;
  background-color: $background-color;
  color: white;
}
.Ladder-Horizontal {
  @include ladderHorizontal(black);
}

.Ladder-Horizontal.selected {
  background-color: white;
}
