.LadderGameSelect-Main {
  //position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 30vh;
  //margin-left: -15vw;
  margin-top: 20vh;
  text-align: center;
}

.SelectInput {
  width: 4vw;
  height: 3vh;
  margin: 0.6vw;
  vertical-align: middle;
  text-align: center;
}

.SelectButton {
  width: 4vw;
  height: 4vh;
  margin: 0.8vw;
  margin-bottom: 5vh;
  vertical-align: middle;
  text-align: center;
}
