.LadderGame-Main {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}

.LadderGameCount-Main {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.LadderGameSelect-Main {
  //margin-left: auto;
  //margin-right: auto;
}
