.LadderGame-Main {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}

.LadderGameCount-Main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.LadderGameSelect-Main {
  //margin-left: auto;
  //margin-right: auto;
}
